<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/magenta.css" rel="stylesheet" type="text/css">

</head>

<body>
  <nav class="navbar navbar-full navbar-light bg-faded">
    <a class="navbar-brand" href="#">BEST EMAIL EVER</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Well....</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emails">Take me to my YEMAIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fine Restaurants<br></a>
      </li>
    </ul>
  </nav>
  <div class="section section-fill-height section-opaque-dark">
    <div class="background-image background-image-fixed" style="background-image : url('http://v4.pingendo.com/assets/photos/fashion/cover-1.jpg')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-offset-md-2 text-left">
          <h1 class="display-1  text-inverse">Email. Just For (you)gine.</h1>
          <p class="lead p-y-1 text-inverse">A better, stress-free experience for an everyday necessity.
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4 p-y-2 text-inverse">The Inbox Experience</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p class="lead">We carefully select our ingredients, so that you end up with the best inbox possible.</p>
          <p class="lead">Read your email every day like it's a delicious meal.
            <br>Savor the efficiency and the sense of organization you get from opening YEMAIL every day.
            <br>
          </p>
          <p class="lead">You get all the events, notifications, and tax collection spam you want.</p>
        </div>
        <div class="col-lg-6">
          <img src="http://v4.pingendo.com/assets/photos/apple/photo-1.jpg" class="img-fluid img-thumbnail">
        </div>
      </div>
    </div>
  </div>

  <div class="p-y-3 section text-xs-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4 text-primary">Features</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <i class="fa fa-5x fa-fw fa-heart m-y-3 text-info"></i>
          <h1>FASTER</h1>
          <p>Sit at your desk and stare at the beauty of the inbox. We carefully design the home screen so that it meets FDA standards of therapeutic care and happiness.</p>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-5x fa-fw fa-star m-y-3 text-info"></i>
          <h1>FIREPROOF</h1>
          <p>Have you ever asked, "what would happen if all my email burned up?"
            <br>Well, we asked that too. That's why our product is 1005% guaranteed.</p>
        </div>

        <div class="col-lg-4">
          <i class="fa fa-5x fa-cloud fa-fw m-y-3 text-info"></i>
          <h1>STORAGE</h1>
          <p>Know that all your emails are safe inside Google cloud. No one will know about anything you do... ever.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary p-y-3 section">
    <div class="container">
      <div class="row text-xs-center">
        <div class="col-xs-4">
          <a><i class="fa fa-5x fa-facebook fa-fw text-inverse"></i></a>
        </div>
        <div class="col-xs-4">
          <a><i class="fa fa-5x fa-fw fa-twitter text-inverse"></i></a>
        </div>
        <div class="col-xs-4">
          <a><i class="fa fa-5x fa-fw fa-instagram text-inverse"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-faded p-y-0 section">
    <div class="container-fluid"></div>
  </div>
  <div class="p-y-3 section">
    <div class="background-image" style="background-image : url('http://maps.googleapis.com/maps/api/staticmap?center=folsom+Ave+san+francisco&amp;zoom=13&amp;size=640x200&amp;sensor=false&amp;scale=2')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card bg-info" draggable="true">
            <div class="card-block">
              <address>
                                    <strong>Company name, Inc.</strong>
                                    <br>795 Folsom Ave, Suite 600
                                    <br>San Francisco, CA 94107
                                    <br>
                                    <abbr title="Phone">P:</abbr>(123) 456-7890</address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>


</body>

</html>